# Ignore everything:
/*
/*/

# Except for the these files/directories:
!.gitignore
!changelog.txt
!config/
!config/*
!config/*/*
!config/*/*/*
!local/
!resources/
!scripts/

/config/wawla.cfg
/config/waila.cfg